<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
</head>

<body>
  <div class="main">
    {{>header}}
    <h1>{{name}}</h1>
    <h3>This app is using the dark net api and map master api</h3>
    <div class="contact">
      <a href="https://github.com/masiuciszek" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.facebook.com/marcell.ciszek" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/CiszekMarcell" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/masiuciszek/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>

  {{>footer}}
  <script src="/js/app.js"></script>
</body>

</html>