<!DOCTYPE html>

<html>

<head>
  <title>Help</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div class="main">
    {{>header}}
    <h3>{{helpText}}</h3>
  </div>

  {{>footer}}
  <script src="/js/app.js"></script>
</body>

</html>