<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/img/weather.png">
  <title>weather</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  {{>header}}

  <div class="main">

    <h3>{{forecastData}}</h3>
    <h3>{{location}}</h3>
    <h3>{{queryAddress}}</h3>
  </div>

  {{>footer}}
  <script src="js/app.js"></script>

</body>

</html>