*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {}



body {
  font-size: 10px;
  box-sizing: border-box;
  background: #fefefe;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin: 1rem 0 4.8rem 0;

}

header h1 {
  font-size: 6.4rem;
  margin: 1rem 0;
}

header nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

ul,
li {
  list-style: none;
}

.main {
  flex-grow: 1;
}

.main h3 {
  font-size: 3rem;
}

form {
  text-align: center;
  padding: 2rem;
}

form input {
  display: block;
  margin: 1rem auto;
  box-shadow: 2px 3px 3px 2px #ccc;
  border: 1px solid #333;
  color: #333;
  font-size: 1.2rem;
  width: 80%;
  border-radius: 2rem;
  transition: .2s ease-in-out;
  padding: 1.1rem 1.6rem;

}

form input:hover {
  box-shadow: 3px 4px 5px 4px #ccc;
}




form button {
  display: block;
  position: relative;
  margin: 1rem auto;
  box-shadow: 2px 3px 3px 2px #ccc;
  border: 1px solid #333;
  color: #333;
  font-size: 1.3rem;
  width: 30%;
  border-radius: 2rem;
  transition: .2s ease-in-out;
  padding: .3rem .7rem;
}

form button:active {
  top: .7rem;
}

form button:hover {
  box-shadow: 3px 4px 5px 4px #ccc;
  cursor: pointer;
}


.message {
  padding: 2rem;
  text-align: center;
  font-size: 1.8rem;
  /* color: #fefefe; */
}


.contact {
  box-shadow: 2px 3px 3px 2px #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  align-self: center;
  justify-self: center;
  margin-top: 3rem;
}

.contact a {
  text-decoration: none;
  color: #333;
  font-size: 3rem;
  transition: .2s ease-in-out;
}

.contact a:hover {
  color: #59abe3;
}

footer {
  background: #fefefe;
  padding: 1rem;
  font-size: 1.2rem;
  border-top: 1px solid #8888;
  margin-top: 1.6rem;
}